body > header {
	margin: 0 auto;
	max-width: 34em;
	text-align: center;
}
body > main {
	margin: 0 auto;
	max-width: 34em;
}

body > main > article > .self-link {
	padding: 0;
}
body > main > article > .self-link > a > span {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background-image: url('transparent.gif');
}
body > main > article > header,
body > main > article {
	position: relative;
}
