<!DOCTYPE html>
<html{{ with .Site.Params.Prefix }} prefix="{{ range . }}{{ . }} {{ end }}"{{ end }}>
{{ partial "head.html" . }}
	<body>
		<header>
{{ partial "header.html" . }}
{{ if .Site.Params.NavigationInHeader }}
		<nav>
{{ partial "menu.html" .Site.Menus.main }}
		</nav>
{{ end }}
		</header>
{{ if .Site.Params.NavigationInHeader }}
{{ else }}
		<nav>
{{ partial "menu.html" .Site.Menus.main }}
		</nav>
{{ end }}
{{ block "main" . }}{{ end }}
		<footer>
{{ partial "footer.html" . }}
		</footer>
{{ partial "foot.html" . }}
	</body>
</html>